# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.pyc

# Local development settings
.env
.env.*
!.env.sample
venv/
.venv/
.secrets/
k8s/configmaps
k8s/secrets
rabbitmq.conf

# Moved on to Kubernetes
docker-compose.yaml